@model UserMessageComment

<link rel="stylesheet" href="~/css/style.css">

<h4><label asp-for = "Comment"></label></h4>
<textarea asp-for = "Comment" cols="70" rows="4"></textarea>
<div>
    <button class = "commentbtn">Post a comment</button>
</div>